
body {
    background-image: url("plain-white-background-xdwiksazlsuzkuhi.jpg");
  }
  


img {
    
    /* padding: 250px; */
    height: 200px;
    width: 300px;

    
}
h1{
    color: red;
   
}
h3 {
    color: green;
}


strong {
    color: red;
}

footer {
    color: red;
}
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header img{
    display: block;
    width: 700px;
    height: 500px;
    
}

